*.sh
# pycache
__pycache__/
fastvpinns.egg-info
*.pyc

# tests/test_dump
test_dump/

# build
build/

# dist
dist/

# add vtk and mesh files
*.vtk
*.msh

fastvpinns.egg-info/

#ignore output files
examples/**/output/
examples/**/output_*
examples/**/__pycache__/


# pytest 
*.vtk
*.msh
sensor_points.png
.egg-info/

#result files
# examples/**/*.png # as the README.md uses png image files
examples/**/sensor_points.png


