*.sh
# pycache
__pycache__/
fastvpinns.egg-info
*.pyc

# tests/test_dump
test_dump/

# add vtk and mesh files
*.vtk
*.msh

fastvpinns.egg-info/

#ignore output files
examples/**/output/

# pytest 
*.vtk
*.msh
.egg-info/

#result files
examples/**/*.png
examples/**/*.vtk
examples/**/*.txt
examples/**/*.svg
examples/**/*.index
examples/**/*.csv

