[MESSAGES CONTROL]
disable=line-too-long,too-few-public-methods,wildcard-import, missing-module-docstring, useless-parent-delegation, f-string-without-interpolation

[FORMAT]
max-line-length=120

[MASTER]
ignore=tests, model

[DESIGN]
min-similarity-lines=70
max-args=12
max-locals=20
